/* CONTACT SELECTOR */
#feedback-options-container {
  display: flex;
}
#feedback-options-container div {
  font-size: 1em;
  position: relative;
  width: 33.33%;
  padding: 20px;
  padding-left: 54px;
  background: #f4f6f7;
  cursor: pointer;
}
#feedback-options-container div.active {
  background: #e5e5e5;
  font-weight: 500;
}
#feedback-options-container .icon {
  filter: invert(0.85);
  position: absolute;
  left: 18px;
  top: 15px;
  width: 24px;
}

/* CONTACT CONTENT */
.contact-container {
  width: 100%;
  height: 102%;
  background: #e5e5e5;
}
.contact-padding {
  padding: 25px;
}

/* TEXT */
.text {
  padding: 18px;
  line-height: 2em;
}
.text span {
  font-weight: 700;
}

/* EMAIL */
table {
  width: 100%;
}
td:first-child {
  width: 15%;
}
td.label {
  text-align: right;
  padding: 18px;
}
.text-input {
  background: white;
  padding: 14px;
  border-bottom: 3px solid #e5e5e5;
}
.text-input.message {
  line-height: 2em;
  background: white;
  padding: 14px;
  height: 100%;
}
table input,
table textarea {
  height: 100%;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  letter-spacing: 1px;
  line-height: 2em;
}
table textarea {
  height: 320px;
}
.label.message {
  vertical-align: top;
}

/* FEEDBACK COMPONENTNTS */
#chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  letter-spacing: 0;
}
#chat .window {
  padding: 24px;
  background: white;
  flex-grow: 1;
  line-height: 1.65em;
  max-height: 438px;
  overflow-y: scroll;
}
#chat .reply {
  display: flex;
}
#chat .reply .name {
  padding: 14px 24px;
  min-width: 23%;
}
#chat .reply img {
  position: absolute;
  width: 24px;
  transform: rotate(180deg);
  right: 10px;
  top: 12px;
}
#chat .reply .message {
  cursor: pointer;
  user-select: none;
  position: relative;
  color: white;
  background: #a31e24;
  margin-top: 24px;
  padding: 16px 24px;
  width: 100%;
}
#chat .reply .message:hover {
  background: #c42f34;
}
#chat .reply .message:active {
  background: #89191e;
}

/* CHAT REPLY COMPONENT */
#chat .user {
  min-width: 20%;
}
#chat .post {
  display: flex;
}
#chat .name {
  font-weight: 500;
}
#chat .date {
  opacity: 0.45;
}